<!DOCTYPE html>
<html>
<head>
    <title>Volunteer List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>

    <a href="/"
       class="{{ 'active' if active_page == 'home' else '' }}">
       Home
    </a>

    <a href="/about"
       class="{{ 'active' if active_page == 'about' else '' }}">
       About
    </a>

    <a href="/register"
       class="{{ 'active' if active_page == 'register' else '' }}">
       Register
    </a>

    {% if session.get('admin') %}

        <a href="/dashboard"
           class="{{ 'active' if active_page == 'dashboard' else '' }}">
           Dashboard
        </a>

        <a href="/volunteers"
           class="{{ 'active' if active_page == 'volunteers' else '' }}">
           Volunteers
        </a>

        <a href="/logout">Logout</a>

    {% else %}

        <a href="/admin"
           class="{{ 'active' if active_page == 'admin' else '' }}">
           Admin
        </a>

    {% endif %}

</nav>
    <h1>Registered Volunteers</h1>
    <form method="GET">
    <input
        type="text"
        name="search"
        placeholder="Search by name, city or skill"
        value="{{ search }}"
    >
    <button type="submit">
        Search
    </button>
</form>
<br>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>Skills</th>
            <th>Availability</th>
        </tr>
        {% for volunteer in volunteers %}
        <tr>
            <td>{{ volunteer.id }}</td>
            <td>{{ volunteer.name }}</td>
            <td>{{ volunteer.email }}</td>
            <td>{{ volunteer.phone }}</td>
            <td>{{ volunteer.city }}</td>
            <td>{{ volunteer.skills }}</td>
            <td>{{ volunteer.availability }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>